

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1{

  text-align: center;
  font-size: 500;
}
nav{
  text-align: center;
}

nav a {
  float: center;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  background: #000;
  border-radius: 4px;
  border:2px solid #000;
  margin-bottom: 50px;
}

#featured-property{

align-content: center;
text-align: center;
font-size: 18px;

}
#featured-property > p{
 width: 810px;
 padding: 10px;
 margin: 20px auto ;

}
#details{

background: rgb(170, 12, 12);
text-align: center;
text-decoration: none;
bottom: 0;
left: 0;
width: 100%;
height: 12rem;
}

#details  div {
width: 25%;
float:left;
color: #fff;

 }

 #details > div  a {
  text-decoration: none;
  font-size:16px;
  color: #fff;

 }
