body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav a {
  padding: 0 10px;
  background-color: #bbb;
}

figcaption {
  text-align: center;
  font-size: 8pt;
}

#featured-property p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 800px;
}

#details {
  display: block;
  text-align: center; 
}

#details div {
  background-color: red;
  text-align: center; 
  float: left;
  width: 25%;
}
